.siteLayoutContent {
  min-height: calc(80vh);
  // line-height: calc(80vh);
  // padding-top: 150px;
  background: #000;
}
.siteLayoutHeader {
  min-height: calc(5vh);
  color: aliceblue;
  text-align: center;
}

.siteLayoutFooter {
  background: #001529;
  color: aliceblue;
  min-height: calc(5vh);
  text-align: center;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
